@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Apply the Jost font globally */
body {
  font-family: 'Jost', sans-serif;
}

.no-scroll {
  overflow: hidden!important;
}

/* @keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

/* .animate-fade-in-left {
  animation: fade-in-left 1s ease-in-out;
}

.animate-zoom-in {
  animation: zoom-in 1s ease-in-out;
}

.animate-slide-in-right {
  animation: slide-in-right 1s ease-in-out;
} */
